<%= form_for([@image, @identification],  multiple: true) do |f| %>
  <%= hidden_field_tag :image_id, @image.id %>
  <%= hidden_field_tag :type_id %>
  <div class="field">
    <%= f.label :suborder %><br />
    <%= f.text_field :suborder %>
  </div>
  <div class="field">
    <%= f.label :family %><br />
    <%= f.text_field :family %>
  </div>
  <div class="field">
    <%= f.label :common_name %><br />
    <%= f.text_field :common_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
