<div>
  <% if @image != nil %>
  <ul>
      <li><%= image_tag @image.image_url(:thumb).to_s %></li>
      <li><%= @image.id %></li>
      <li><%= @image.date_time %></li>
      <li><%= @image.lat %></li>
      <li><%= @image.long %></li>
      <li><%= @image.species %></li>
      <li><%= link_to 'Show', @image %></li>
      <li><%= link_to 'Edit', edit_image_path(@image) %></li>
      <li><%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
  <% end %>
</div>