
<%=render 'nextImage'%>


<%= form_for :identifications do |f| %>
  <%= hidden_field_tag :image_id, @image.id%>
  <div class="field">
    <%= f.label :suborder %><br />
    <%= f.text_field :suborder %>
  </div>
  <div class="field">
    <%= f.label :family %><br />
    <%= f.text_field :family %>
  </div>
  <div class="field">
    <%= f.label :common_name %><br />
    <%= f.text_field :common_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>





<% if @image != nil %>
    <%= link_to 'New Identification', new_identification_path %>
    <form action="/">
        <input type="submit" value="next">
    </form>

    <br />
<% end %>

<%= link_to 'New Image', new_image_path %>
<%#= render 'form' %>