<%= render 'form' %>

<button id="identify" type="button">Identify</button>
<button id="practice" type="button">Practice</button>

<%=render 'nextImage'%>


<%=render 'identifications/form'%>
<%=render 'guesses/form'%>



<%= link_to 'New Image', new_image_path %>
