<p id="notice"><%= notice %></p>


<p>
  <b>Date time:</b>
  <%= @image.date_time %>
</p>

<p>
  <b>Image:</b>
  <%= @image.image %>
</p>

<p>
  <b>Lat:</b>
  <%= @image.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @image.long %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
