<!DOCTYPE html>
<html>
<head>

  <title>MarineLifeIdApp</title>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="user_nav">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    <div id="buttons">
      <button id="add_photos" type="button" class="btn btn-default">Add photos</button>
      <button id="identify" type="button" class="btn btn-default">Identify</button>
      <button id="practice" type="button" class="btn btn-default">Practice</button>
      <button id="explore" type="button" class="btn btn-default">Explore</button>
    </div>
  </nav>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

<%= yield %>

</body>
</html>
